.floating-btns{
    position: absolute;
    bottom: 50px;
    padding: 0 75px;
}

.floating-btns ul {
    padding: 0;
}

.floating-btns li {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 80px;
}